<?xml version="1.0"?>
<launch>
  <!-- Unit test launch file -->

  <!-- Load up parameter server, based on standard planning_context.launch moveit file-->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- URDF file (including path) -->
  <arg name="urdf_file" default="$(find moveit_simple)/test/resources/motoman_mh5/urdf/motoman_mh5_robot.xacro"/>

  <!-- Launch test node -->
  <arg name="run_test_node" default="true"/>

  <!-- Load universal robot description format (URDF) -->
  <param name="$(arg robot_description)" command="$(find xacro)/xacro '--inorder' '$(arg urdf_file)'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find moveit_simple)/test/resources/motoman_mh5/config/motoman_mh5_robot.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find moveit_simple)/test/resources/motoman_mh5/config/joint_limits.yaml"/>
  </group>

  <!-- Load Joint Names from the yaml files to override default joint names (Joint_1,..) -->
  <rosparam command="load" file="$(find moveit_simple)/test/resources/motoman_mh5/config/joint_names.yaml"/>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find moveit_simple)/test/resources/motoman_mh5/config/kinematics.yaml"/>
  </group>

  <!-- Nodes for simulating robot motion and state -->
  <node name="joint_trajectory_action" type="joint_trajectory_action" pkg="industrial_robot_client"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="robot_simulator" pkg="industrial_robot_simulator" type="industrial_robot_simulator"/>

  <!-- Static tranform publisher for testing tf lookup -->
  <node name="tf_pub1" type="static_transform_publisher" pkg="tf" args="0.400 -0.206 0.825 0.000 0.555 0.000 base_link tf_pub1 100"/>
</launch>