<?xml version="1.0"?>
<launch>
  <!-- Unit test launch file -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Launch test node -->
  <arg name="run_test_node" default="true"/>

  <!-- Debug Info -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Launch RViz -->
  <include file="$(find moveit_simple)/test/launch/test_display.launch"/>

  <!-- Launch Kuka -->
  <include file="$(find moveit_simple)/test/launch/kuka_kr210.launch">
    <arg name="robot_description" value="$(arg robot_description)"/>
    <arg name="urdf_file" value="$(find moveit_simple)/test/resources/kuka_kr210/kr210l150.urdf"/>
    <arg name="urdf_file_custom_tool" value="$(find moveit_simple)/test/resources/kuka_kr210/kuka_custom_tool.urdf"/>
    <arg name="run_test_node" value="$(arg run_test_node)"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="tfdummy" args="0 0 0 0 0 0 /base_link /world  10" />

  <!-- Test Node -->
  <node name="kuka_kr210_demo" pkg="moveit_simple" type="moveit_simple_trajectory_planner_demo"
  launch-prefix="$(arg launch_prefix)" />
</launch>
